<!DOCTYPE html>
<html lang="en">
  <head>
    <title>동사교 점수판</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'namespace/style.css' %}">
  </head>
  <body>
    <div style="margin-bottom:2cm">
      <h1 id="header">청소년부 조별 점수판</h1>
    </div>
    <main>
      {% for q in team%}
      <div id="scoreboard" class="">
          <span>
            <div id="name">
              <span class="responsive-text", style="font-weight: bold;">{{q.team.teamName}}</span>
            </div>
            <span id="score">{{q.score}}</span>
          </span>
      </div>
      
      {%endfor%}
    </main>
    <script src="{% static 'namespace\scoreboard.js' %}"></script>
  </body>
</html>